html {
  font-family: 'Merriweather', serif;
}
body {
  font-weight: 100;
  color: white;
  background-color: #0f0f0f;
}
nav{
  font-family: 'Audiowide', cursive;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
  padding: 0px 30px!important;
  min-height: 70px;
  width: 100%;
}
.navbar-brand{
  font-size: 37px;
}
.navbar-nav{
  display: flex;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 34%;
}
.welcome{
  font-family: 'Poppins', sans-serif;
}
.theme{
  border-top: 1px solid #616467;
  background-color: transparent;
}
.jumbotron{
  padding: 0!important;
  border-radius: 0px;
  height: calc(100vh - 176px);
  margin: 0!important;
}
.bg-dark{
  background-color: #000!important;
}
.container{
  margin-top: 0px;
  width: 100vw !important;
  max-width: 100vw !important;
  padding: 0 0;
}
.stats{
  color:white;
}
.btn-outline-success{
  color: #61DBFB;
  border: 0px;
}
.btn-outline-success:hover {
  color: white;
  background-color: transparent;
}
.btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success:focus:active{
  box-shadow: 0 0 0 0!important;
  background-color: transparent !important;
  border: 0px;
}
.form-control{
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15px
}
.hidden{
  display: none;
}
.currently-playing{
  width: 100%;
  height: 82px;
  margin: 0 auto;
  border: 1px solid black;
}
.wit-microphone{
  margin: 0 auto;
  margin-top: calc(49vh - 220px);
  cursor: pointer;
}
.wit-microphone:hover{
  border-color: #61DBFB;
}
#info{
  margin-top: 10px;
  text-align: center;
}
#result{
  text-align: center;
}
h2{
  color: white;
  text-align: center;
}
.row{
  height: 106px;
  justify-content: center;
  margin: 0;
  padding-top: 24px;
  background: black;
}
.col{
  width: fit-content;
  flex-grow: 0;
}
h3{
  font-weight: 400;
  font-size: 22px;
}
#result{
  display: none;
}
#landing-title{
  font-family: 'Audiowide', cursive;
  font-size: 90px;
  position: absolute;
  top: 130px;
  left: 10vw;
  color: #61DBFB;
  opacity: 0;
  animation: fadeIn 1s ease-out .7s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
#landing-subtitle{
  font-size: 24px;
  position: absolute;
  top: 234px;
  left: 10vw;
  color: white;
  text-align: center;
  padding-left: 5px;
  opacity: 0;
  animation: fadeIn 1s ease-out 1.2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
#land-login{
  position: absolute;
  bottom:130px;
  right: 10vw;
}
.land{
  font-family: 'Audiowide', cursive;
  color:black;
  font-size: 28px;
  padding: 0;
}
.separator {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.separator::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #61DBFB;
  clip-path: polygon(0% 0%, -34% 100%, 100000000% 100%);
  animation: startup 1s ease-out 100ms 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.radio-open {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.radio-open::before {
  z-index: 100;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  clip-path: polygon(0% 100%, 0% 0%, 70% 0%, 36% 100%);
  animation: reveal-left 1s ease-out .4s 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.radio-open::after {
  z-index: 10;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #61DBFB;
  clip-path: polygon(0% 0%, -34% 100%, 100000000% 100%);
  animation: reveal 1s ease-out .1s 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.cont{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
input[type="text"] {
  text-align: center;
  display: block;
  width: 400px;
  padding: 8px 12px 10px 12px;
  border: 1px solid rgba(0,0,0,.5);
  background: rgba(0,0,0,.25);
}
.form-control:focus{
  background-color: rgba(0,0,0,.25);
  color: #61DBFB;
}
[placeholder]::-webkit-input-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover::-webkit-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-webkit-input-placeholder { color: transparent; }

[placeholder]::-moz-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover::-moz-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-moz-placeholder { color: transparent; }

[placeholder]:-ms-input-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover:-ms-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus:-ms-input-placeholder { color: transparent; }

canvas{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.fa-pause, .fa-play{
  position: absolute;
  left: 50%;
  transform: translateX(-75%);
  cursor: pointer;
}
ul{
  margin-top: -9px;
}
.fa-pause:hover, .fa-play:hover{
  filter: invert(78%) sepia(9%) saturate(2527%) hue-rotate(154deg) brightness(1007%) contrast(103%);
}
.modal-content{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #111;
  background-clip: padding-box;
  border: 1px solid #616467;
  outline: 0;
}
.close{
  color: #616467;
  opacity: 1;
  text-shadow: 0 0 0;
}
.close:hover{
  color: #61DBFB;
}
.modal-header{
  border-bottom: 1px solid #616467;
}
.modal-footer{
  border-top: 1px solid #616467;
}
.fa-desktop{
  cursor: pointer;
  padding-top: 6px;
}
.fa-desktop:hover{
  filter: invert(78%) sepia(9%) saturate(2527%) hue-rotate(154deg) brightness(1007%) contrast(103%);
}
.fa-2x{
  font-size: 1.7em;
}
.tooltip-button{
  font-family: 'Poppins';
  color: white;
}
.tippy-box{
  border-radius: 0px;
  box-shadow: 1px 1px 8px black;
}
.tippy-content{
}
.active{
  color: #61DBFB!important;
  background-color: transparent!important;
}
.iactive{
  color:#61DBFB!important;
}
.tool-box{
  padding: 5px 9px;
  width: calc(100% + 18px);
  padding-bottom: 11px;
  margin-left: -9px;
}
.tool-box:hover{
  background-color: rgba(100,100,100,.3);
}
.tool-subtitle{
  font-family: 'Poppins';
  font-size: 11px;
  margin-left: 37px;
  margin-top: -2px;
}
.fa-laptop{
  font-size: 18px;
  vertical-align: -12px;
}
@keyframes startup{
  from{

  }
  to{
    clip-path: polygon(70% 0%, 36% 100%, 100000000% 100%);
  }
}
@keyframes fadeIn {
  from{

  }
  to {
    opacity: 100%;
  }
}
@keyframes reveal {
  from{

  }
  to {
    clip-path: polygon(134% 0%, 100% 100%, 100000000% 100%);
  }
}
@keyframes reveal-left {
  from{

  }
  to {
    clip-path: polygon(0% 100%, 0% 0%, 0% 0%, -34% 100%);
  }
}
@media (hover: none) {
  nav{
    min-height: 140px;
    font-size: 19px;
  }
  .navbar-brand{
    font-size: 44px;
  }
  .btn{
    font-size: 30px;
  }
  .form-control{
    font-size: 21px;
    height:50px;
  }
  #result{display: block}
}