<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<title>Flux</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
	
	<meta charset="utf-8">
	<!-- Angular, bootstrap, jquery, fonts, and style -->
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="microphone/css/microphone.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<link rel="icon" type="image/png" sizes="16x16" href="favicon.png">
</head>
<body ng-controller="mainController" class="bg-dark" ng-init="user();getMyRecent();checkCurrent();initMic()">
	<div class="demo plain">
		<section class="radio-launch">
			<header></header>
			<div class="radio-open"></div>
			<footer></footer>
		</section>
	</div>
	<div class="cont">
	<!-- Navigation bar -->
		<nav class="navbar navbar-expand-lg navbar-dark text-light bg-dark">
			<a class="navbar-brand" href="https://fluxdj.herokuapp.com/">Flux</a>
		
				<ul class="navbar-nav mr-auto">
				</ul>
				<ul class="pause">
					<i ng-click="pause()" class="fa fa-pause fa-2x" ng-if="playing"></i>
					<i ng-click="play()" class="fa fa-play fa-2x" ng-if="!playing"></i>
				</ul>
				<span class="pr-2 welcome" ng-if="userInfo">Welcome {{userInfo.display_name}} </span>
				<form class="form-inline my-2 my-lg-0" ng-if="userInfo" ng-submit="logout()">
					<input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Logout">
				</form>
		</nav>

			<!-- Home page  -->
			<main role="main" ng-show="view==0">
				<div class="jumbotron theme over slide">
					<div class="container">
						<div class="currently-playing" ng-bind-html="currentSong"></div>
						<h1 class="display-3 text-dark">{{results.entities.intent[0].value}}</h1>
					</div>
					<div id="microphone"></div>
					<pre id="result"></pre>
					<div id="info"></div>
					<div id="error"></div>
					<form name="searchForm" ng-submit="query()">
						<div class="form-group">
							<input class="form-control" type="text" ng-model="search" name="search" placeholder="what kind of song do you want next" autocomplete="off" required>
						</div>
						<div class="form-group">
							<input class="hidden btn btn-primary" type="submit" value="search">
						</div>
					</form>
			
				</div>
				<div class="row" ng-if="userInfo">
							<div class="col" ng-repeat="feature in features">
								<h3 id={{feature[1]}}>{{feature[1]}}</h3>
								<p class="text-center">{{feature[0] | number : 2}}</p>
							</div>
						</div>
				</div>
		</main>

		<!-- Non-Premium Modal -->
		<div class="modal fade" id="non-premium" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Non-premium account</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Hello, it looks like you are logged into a Spotify free account, unfortunately the Spotify Web API does not support playback interaction with non-premium users. Flux will still reccomend songs to you but you will have to manually play each song from the browser.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div>	

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="js/player.js"></script>
<script src="microphone/js/microphone.min.js"></script>
<script src="js/mic.js"></script>
<script src="js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="visualizer/p5.dom.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/addons/p5.sound.js"></script> 
<script language="javascript" type="text/javascript" src="visualizer/sketch.js"></script>
<script language="javascript" type="text/javascript" src="visualizer/helpers.js"></script> 



</html>
